<article class="article">
    <h2 class="article__title">
        <a class="article__title__link" href="{{link}}">{{title}}</a>
        <img class="article__image" src="{{meta.image.url}}">
    </h2>
    <div class="row">
        <div class="col-md-10">
            <p class="article__description">{{description}}</p>
        </div>
    </div>
</article>
