<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
            <h1>{{title}}</h1>
            <ul>
                {{{body}}}
            </ul>
        </div>
    </body>
</html>
